*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #1A0B2E;
}
.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-right: 200px;
    margin-left: 200px;

}
.manu{
    list-style-type:none;
    text-decoration: none;
}
.manu{
    display: flex;
    gap: 30px;
    color: white;
}
.nav-1 h2{
    color:white;
    font-size:28px ;
    font-weight: bolder;
}
.nav-1 span{
    color:;
    
}
.btn{
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 10000px;
    cursor: pointer;
    background: linear-gradient(to right,
                #F7E93F 0%,
                #FB09B4 51%,
                #9100F8 100%);
}
.about{
    padding: 50px 200px;
}
.about-podcast{
    max-width: 1200px;
    height: 220px;
    align-items: center;
    border-bottom: 0.05px solid #1A0B2E;
    padding-bottom:300px;
}
.about-podcast h3{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600px;
    margin-bottom: 16px;
}
.about-podcast p{
    text-align: center;
    color: white;
}
.p-1{
    margin-bottom: 80px;
    margin-top: 79px;
}
.card{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 95px;
    margin-left: 200px;
    margin-right: 200px;
}
.card-container{
    align-items: center;
    text-align: center;
}
.card-container h2{
    color: #00FF88;
    font-size: 45px;
}
.card-container p{
    color: white;
}

main{
    max-width: 1600px;
    height: 1120px;
}


.techwave{
    background-color: #230E3D;
}
.techwave-h2{
    align-items: center ;
    text-align: center;
}